torch>=2.5.0
bcrypt==3.2.0 #to update to 4.0.0 breaking changes
bittensor==8.5.2
bittensor-cli==8.4.3
bittensor-wallet==3.0.0
redis==5.0.1
pycryptodome==3.21.0
pyinstrument==4.7.3
wandb==0.17.2
morphys==1.0
py-multibase==1.0.3
py-multicodec==0.2.1
py-multihash==2.0.1
ipfs-cid==1.0.0
python-jose==3.3.0
passlib==1.7.4
python-multipart==0.0.20
python-dotenv==1.0.1
loguru==0.7.0
pandas==2.2.3
numpy>=2.0.2
tqdm==4.66.0
Bottleneck==1.4.2
py~=1.11.0
pytest~=8.3.4
colorama~=0.4.6
GitPython~=3.1.44
gitdb~=4.0.12
h11~=0.14.0
pip~=24.3.1
attrs~=25.1.0
wheel~=0.45.1
retry~=0.9.2
protobuf~=4.25.6
cryptography~=43.0.3
filelock~=3.17.0
rsa~=4.9
pyasn1~=0.6.1
toolz~=1.0.0
cffi~=1.17.1
setuptools~=70.0.0
ecdsa~=0.19.0
PyNaCl~=1.5.0
pytz~=2024.2
rich~=13.9.4
Pygments~=2.19.1
markdown-it-py~=3.0.0
toml~=0.10.0
requests~=2.32.3
PyYAML~=6.0.2
idna~=3.10
multidict~=6.1.0
propcache~=0.2.1
typing_extensions~=4.12.2
sniffio~=1.3.1
six~=1.17.0
smmap~=5.0.2
mdurl~=0.1.2
charset-normalizer~=3.4.1
backoff~=2.2.1
decorator~=5.1.1
sympy~=1.13.1
mpmath~=1.3.0
parameterized~=0.9.0
psutil~=6.1.1
packaging~=24.2
urllib3~=2.3.0
fsspec~=2024.12.0
click~=8.1.8
typer~=0.15.1
shellingham~=1.5.4
docker-pycreds~=0.4.0
pydantic~=2.10.6
sentry-sdk~=2.20.0
platformdirs~=4.3.6
base58~=2.1.1
aiohttp~=3.10.11
yarl~=1.18.3
MarkupSafe~=3.0.2
python-dateutil~=2.9.0.post0
xxhash~=3.5.0
pluggy~=1.5.0
iniconfig~=2.0.0
aiosignal~=1.3.2
frozenlist~=1.5.0
aiohappyeyeballs~=2.4.4
certifi~=2024.12.14
cytoolz~=1.0.1
fastapi~=0.110.3
starlette~=0.37.2
pydantic_core~=2.27.2
websockets~=14.2
anyio~=4.8.0
netaddr~=1.3.0
munch~=2.5.0
uvicorn~=0.22.0
websocket-client~=1.8.0
eth-hash~=0.7.1
eth-keys~=0.6.1
eth-utils~=2.2.2
eth-typing~=5.1.0
networkx~=3.4.2
annotated-types~=0.7.0
msgpack~=1.1.0
scalecodec~=1.2.11
asyncstdlib~=3.13.0
async-property~=0.2.2
varint~=1.0.2
pycparser~=2.22
RapidFuzz~=3.11.0
Jinja2~=3.1.5
termcolor~=2.5.0
fuzzywuzzy~=0.18.0
Levenshtein~=0.26.1