torch>=1.13.0
bcrypt==3.2.0
bittensor==6.11.0
redis==5.0.1
pycryptodome==3.20.0
pyinstrument==4.6.1
wandb==0.16.0
morphys==1.0
py-multibase==1.0.3
py-multicodec==0.2.1
py-multihash==2.0.1
ipfs-cid==1.0.0
python-jose==3.3.0
passlib==1.7.4
python-multipart==0.0.9
python-dotenv==1.0.1
loguru==0.7.0
pandas==2.2.0