{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="top-bar">
        <div class="nav-links">
        {% if not request.session.token %}
            <a href="{% url 'register' %}">Register</a>
            <a href="{% url 'login' %}">Login</a>
        {% else %}
            <a href="{% url 'upload_file' %}">Upload File</a>
            <a href="{% url 'retrieve_file' %}">Retrieve File</a>
        {% endif %}
        </div>
        {% if request.session.token %}
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <input type="submit" name="submit" value="Logout">
        </form>
        {% endif %}
    </div>

    <form class="login-form" method="post">
        {% csrf_token %}
        <input type="username" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" name="submit" value="Register">
    </form>
</body>
</html>